@use "scss/base/base" as b;
@use "scss/base/reset" as r;
@use "scss/mixin/animation" as animation;
@use "scss/mixin/breakpoint" as break;
@use "scss/mixin/btn" as btn;
@use "scss/mixin/font" as f;
@use "scss/module/footer" as footer;
@use "scss/module/header" as header;
@use "scss/setting/function" as function;

.Header{
    width: 100%;
    text-align: center;
    font-family: f.$engfontfamily;
    &__Webname{
        margin: 50px 0;
        font-size: f.$font-size-giga;
    }
    &__Nav{
        width: 100%;
    }
    &__Menu{
        display: flex;
        justify-content: center;
    }
    &__List{
        font-size: f.$font-size-kilo;
        margin: 0 50px;
    }
}